<!--EXTEND LOGIN PAGE TO HIDE NAVBAR AND FOOTER-->
{% extends "login/login.jinja" %}
{% from 'macros/form_field.jinja' import render_field with context %}

{% block content %}
    <main>
        <section>
            {% for message in get_flashed_messages() %}
                <h1 class="error_message">
                    {{ message }}
                </h1>
            {% endfor %}
            {% for error in form.password.errors%}
                <h1 class="error_message">
                    {{ error }}
                </h1>
            {% endfor %}
            <div class="form_wrapper">
                <form method="post">
                    <dl>
                        {{ render_field(form.username) }}
                        {{ render_field(form.name) }}
                        {{ render_field(form.last_name) }}
                        {{ render_field(form.password) }}
                        {{ render_field(form.confirm_password) }}
                        {{ render_field(form.email) }}
                    </dl>
                    <input class="btn" type="submit" value="Vytvořit účet">
                </form>
                <span><a class="material-icons icon" href="{{ url_for('login.view_login_page') }}">arrow_back</a></span>
            </div>
        </section>
    </main>
{% endblock %}