<footer class="footer">
    <!-- TODO implementace footeru pokud bude co -->
    <section>
        <div>
            <p>Mendelova univerzita v Brně</p>
            <p>Made with ❤️ in Czechia</p>
        </div>
        <div>
            <div>Devs:</div>
            <div>
                Tomáš Kudera
            </div>
            <div>
                Jakub Mir
            </div>
            <div>
                Martin Kellner
            </div>
        </div>
    </section>
</footer>